*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #C2B2B4;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-rows: 120px 480px auto;
}

.top-half {
  background-color: #3E2A35;
  color: #C2B2B4;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.title {
  display: flex;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  font-size: 46px;
  margin-left: 40px;
  text-transform: uppercase;
  line-height: 40px;
}

.title-word-left {
  letter-spacing: 4px;
}

.title-word-right {
  letter-spacing: 2px;
}

.logo {
  height: 55px;
  width: 55px;
  position: relative;
  top: 7px;
}

.search-area {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0px 40px 0 auto;
  width: 40%;
}

input {
  text-indent: 10px;
}

.search-bar {
  border: solid 2px #C2B2B4;
  border-radius: 5px 0 0 5px;
  height: 40px;
  text-indent: 6px;
  width: 65%;
}

::placeholder {
  color: #B5ABAC;
}

.search-btn {
  background-color: #C2B2B4;
  border: solid 2px #C2B2B4;
  border-radius: 0 5px 5px 0;
  height: 40px;
  margin-right: 30px;
  width: 40px;
}

article {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

fieldset {
  border: 0;
  width: 50%;
  margin-top: 20px;
  max-width:;
}

label {
  /*position: absolute;*/
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 50px;
  margin-bottom: 50px;
}

button {
  border: 0;
  background-color: #5B4447;
  color: #FFFFFF;
  height: 50px;
}

button:hover {
  cursor: pointer;
  background-color: #1393DD;
  border-color: #1393DD;
}

button:focus {
  outline: 0;
}

.input-buttons {
  display: grid;
  grid-template-columns: 42% 16% 42%;
  grid-template-rows: auto;
  grid-template-areas: 
  "choose choose choose"
  "fav . add";
}

.choose-btn {
  grid-area: choose;
  margin-bottom: 50px;
}

.favorite-btn {
  grid-area: fav;
}

.add-btn {
  grid-area: add;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #FFFFFF;
  border: solid 1px #938284;
  color: #5B4447;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 150px 90px 60px;
  height: 350px;
  margin: 40px auto 0 auto;
  min-width: 250px;
  max-width: 300px;
  width: 22%;
}

h4 {
  font-weight: 600;
  margin: 13px;
}

p {
  margin: 13px;
}

.card-foot {
  background-color: #5B4447;
  display: flex;
  justify-content: space-between;
}

.card-foot img {
  height: 30px;
  margin: 15px;
  width: 30px;
}

.card-body,
.card-pic,
.card-head {
  border-bottom: 1px solid red;
}


